<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; Engineering Dept</p>
        </footer>

    </div>
</body>
</html>
