@page
@model EntAppSecond.Pages.ConfirmModel
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Would you like to save the following student</h2>
<ul>
    <li> First Name @Model.FirstName </li>
    <li> Last Name @Model.LastName </li>
    <li> Student ID @Model.StudentID </li>
    <li> Email @Model.Email </li>
</ul>

<a href="/Students/Create"class="btn btn-primary">Go Back and Edit</a>

<a href="/ListStudents" class="btn btn-primary">Save the Data</a>