@page "{StudentID?}"
@model EntAppSecond.Pages.StudentDetailsModel
@{
    ViewData["Title"] = "StudentDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details for student with ID @Model.StudentID</h2>

